button {
    cursor: pointer;
}

.cont-modal {
    border: 1px solid;
    border-radius: 1rem;
    width: 400px;
    display: block;
    margin: 0 auto;
    background-color: antiquewhite;

    display: none;
}

.cont-modal .tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

}

.btn-close {
    height: 2rem;
}